<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <beans:import resource="spring-persistence.xml"/>
    
    <beans:bean id="webexpressionHandler" 
                class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>
    
    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <http pattern="/login" security="none" />
    <http pattern="/css" security="none" />
    <http pattern="/js/tinymce/js/tinymce/plugins/visualblocks/css" security="none" />
    <http pattern="/fonts" security="none" />

    <http use-expressions="true" auto-config="true" disable-url-rewriting="false">
        <csrf disabled="true"/>
        <logout logout-success-url="/login" logout-url="/j_spring_security_logout"/>
        <form-login login-processing-url="/j_spring_security_check"
                    login-page="/login"
                    authentication-failure-url="/login?login_error=1"/>

        <!--<intercept-url pattern="/"-->
                       <!--access="IS_AUTHENTICATED_ANONYMOUSLY"/>-->
        <!--<intercept-url pattern="/blog"-->
                       <!--access="IS_AUTHENTICATED_ANONYMOUSLY"/>-->
        <intercept-url pattern="/admin/comment"
                       access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/admin/**"
                       access="hasRole('ROLE_ADMIN')"/>
        <!--<intercept-url pattern="/**" access="permitAll()"/>-->
    </http>
    
    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder"/>
            <jdbc-user-service id="userService"
                               data-source-ref="dataSource"
                               users-by-username-query=
 "select loginName, userPassword, enabled from blogUser where loginName = ?"
                               authorities-by-username-query=
 "select username, role from role where username = ?" />
        </authentication-provider>
    </authentication-manager>


</beans:beans>